services:
  api:
    build: .
    ports:
      - "8085:8000"
    environment:
      - DB_HOST=3.145.93.26
      - DB_NAME=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432